// pi = phone interview
.gBody{
    background-color: gray;
    display: grid;
    grid-template-areas: 
    "gNav "
    "title"
    "g1"
    "feet"
    ;


    grid-template-columns:  1fr ;
    grid-template-rows: 0.5fr 0.5fr auto auto;
}


.gFlexNav{

    grid-area: gNav;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5vh;  
    background-color: #fff;
}

.gFlexSpan{
    padding: 0.25vh;
    margin: 0.5vh;
    
}


.gSpanIndex{
    margin: 0.5vh;
    padding: 0.75vh;
    font-size: medium;
    border: solid 2px #000;
    border-radius: 20px;
    

}

.galleryPh{
     width: 31%;
     margin: 1%;
     
     

}
.gallery1{
   
    grid-area: g1;
    margin-top: 0.5vh ;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-color: #fff;  
   
    
    
}


.spHead{
    grid-area: spHead;
    width: 100%;
    background-color: transparent;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}